Flask==0.10.1
flask-restplus
git+git://github.com/j-fuentes/werkzeug@0.10.4-jfc-Non-auto-pop#egg=werkzeug
-e git+https://github.com/j-fuentes/flask-cache@R_0.15-jfc#egg=Flask-Cache
docker-py
-e git+https://github.com/j-fuentes/compose@1.4.3#egg=docker-compose-co
pyopenssl
ndg-httpsclient
pyasn1
cryptography
requests[security]
redis==2.10.3
sh
